<p>employee-editor works!</p>
<label>
    Employeename:
    <input type="text" [formControl]="employeeName">
  </label>
  <label>
    Employeeage:
    <input type="text" [formControl]="employeeAge">
  </label> 
  <label>
    Employeesalary:
    <input type="text" [formControl]="employeeSalary">
  </label> 
  <label>
    Employeedateofbirth:
    <input type="text" [formControl]="employeeDOB">
  </label> 
  <label>
    Employeecompany:
    <input type="text" [formControl]="employeeCompany">
  </label>